//- Change the below Variables
- var website_url = 'https://roadyo.net';  //- Site URL to be opened when Clicking on LOGO
- var LOGO = 'https://superadmin.shoppd.net/assests/Logo/Group39750.png'; //- LOGO 
- var FOOTER_LOGO = 'https://superadmin.shoppd.net/assests/Logo/Group39750.png'; //- LOGO 
- var METTAMUSE_LOGO = 'https://mettamuse.shoppd.net/static/images/Mettamuse_logo/AppLogo.png'; //- METTAMUSE_LOGO
- var android_logo = 'https://roadyo.net/static/images/app_images/play-store.png';
- var iOs_logo = 'https://roadyo.net/static/images/app_images/app-store.png';
- var company_name = 'Shoppd';
- var support_email = 'contact@shoppd.net'; //- Support URL 
- var facebook_url = 'https://www.facebook.com/appscrip'; //- FACEBOOK  URL
- var youtube_url = 'https://www.youtube.com/channel/UC7U65c_o1hNwiwTkWXG32fg'; //- Youtube  URL
- var twitter_url = 'https://twitter.com/appscrip'; //- Twitter  URL
- var instagram_url = 'https://www.instagram.com/appscrip01/'; //- Twitter  URL
- var driverAppLinkIos = 'https://www.appscrip.com/ios';
- var driverAppLinkAndroid ="https://www.appscrip.com/android";
- var facebookImage='https://cdn.shoppd.net/EmailTemplates/0/0/facebook2x.png';
- var youtubeImage='https://cdn.shoppd.net/EmailTemplates/0/0/youtube2x.png';
- var instagramImage='https://cdn.shoppd.net/EmailTemplates/0/0/instagram2x.png';
- var twitterImage='https://cdn.shoppd.net/EmailTemplates/0/0/twitter2x.png';

- var shoutoutSvg='https://cdn.shoppd.net/EmailTemplates/0/0/shoutoutFa.png'
- var shoutoutSvg1= "https://cdn.shoppd.net/EmailTemplates/0/0/shoutoutIcon.png"
- var closeIcon="https://cdn.shoppd.net/EmailTemplates/0/0/closeIcon.png"

- var videoSvg= 'https://cdn.shoppd.net/EmailTemplates/0/0/videoIcon.png'
- var videoSvg1='https://cdn.shoppd.net/EmailTemplates/0/0/videoCallIcon.png'
- var starProfileImg="https://cdn.shoppd.net/EmailTemplates/0/0/defaultStarProfileImg.png"

- var primaryFontColor = ''; //color:red; background: green - this styles reflects on email cutomer name or disturbuter name,
- var buttonStyles = ''; // color:red; background: green  - reflects for buttons like view or manage order. IF YOU WISH TO CHANGE BUTTON BACKGROUND COLOR, PLEASE CHANGE FONT COLOR OF TEXT

- var pdfLogo = 'https://mettamuse.shoppd.net/static/images/Quotation/pdf.png';
- var docLogo = 'https://mettamuse.shoppd.net/static/images/Quotation/doc.png';
- var xlsxLogo = 'https://mettamuse.shoppd.net/static/images/Quotation/xls.png';
- var txtLogo = 'https://mettamuse.shoppd.net/static/images/Quotation/doc.png';